@page "/About"
@using RealEstate.WebUI.Models

<h3>Our Story</h3>

<div class="content">
    Welcome! We are proud to be landlords in the Grandview area.  We have an assortment of both duplexes and houses,
    so it is up to you what you feel comfortable with.  We maintain our properties up to livable standard and maintain them regulary.
</div>
