<style>


</style>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Otto Properties</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
       
      

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tenant">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Tenants
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RentalProperty">
                <span class="oi oi-list-rich" aria-hidden="true"></span> RentalProperty
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="About">
                <span class="oi oi-list-rich" aria-hidden="true"></span> About Us
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Contact Us">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Contact Us
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
